# General
.ignore

# IDE
*.iml
.idea

# Secrets
resources/secrets

# Build
node_modules

# Bower dependency directory (https://bower.io/)
bower_components

# Logging
*.log

# Storybook
storybook-static
