//
// Sidebar
//

// General mode
.app-sidebar {
	padding-top: $app-content-padding-y;
    padding-bottom: $app-content-padding-y;

	.separator {
		border-bottom: var(--#{$prefix}app-separator-border);
	}
}

// Sidebar primary
.app-sidebar-primary {
	display: flex;
	flex-direction: column;

	.app-sidebar-nav {
		border-right: var(--#{$prefix}app-separator-border);

		.nav {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			justify-content: center;

			.nav-item {
				display: flex;
				flex-direction: column;
				align-items: stretch;
				justify-content: center;
			}

			.nav-link {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				&.btn {
					@include button-custom-variant(
						$color: var(--#{$prefix}gray-500),
						$icon-color: var(--#{$prefix}gray-400),
						$border-color: null,
						$bg-color: null,
						$color-active: var(--#{$prefix}gray-800),
						$icon-color-active: var(--#{$prefix}gray-800),
						$border-color-active: null,
						$bg-color-active: var(--#{$prefix}body-bg),
					);

					i,
					.svg-icon {
						margin: 0;
						padding: 0;
					}

					&:hover,
					&.active {
						box-shadow: var(--#{$prefix}app-sidebar-primary-nav-btn-active-box-shadow) !important;
					}
				}
			}
		}
	}

	.app-sidebar-footer {
		border-right: var(--#{$prefix}app-separator-border);
	}
}

// Sidebar secondary
.app-sidebar-secondary {
	display: flex;
	flex-direction: column;
	border-right: var(--#{$prefix}app-separator-border);
}

// Tablet & mobile modes
@include media-breakpoint-down(lg) {
	.app-sidebar {
		padding-top: $app-content-padding-y-mobile;
        padding-bottom: $app-content-padding-y-mobile;
	}
}

@include color-mode(dark) {
     // Sidebar secondary
	.app-sidebar-secondary {
		border-right: 0;
	}
}
