<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/components :: head}"></head>
<body>
<p th:replace="~{fragments/components :: greetings}"></p>
<p>
    you can confirm the creation of your account by submitting the following token.
</p>
<p>
    Resource: <span class="variable" th:text="${resource}">ApiName</span><br/>
    Token: <span class="variable" th:text="${token}">xxxxxxxxxx</span><br/>
    Expiration: <span class="variable" th:text="${expiration}">1990-06-27 15:30:15</span>
</p>
<p th:replace="~{fragments/components :: signature}"></p>
</body>
</html>
